<div class="card-container">
  <span [ngClass]="{ opened: card.opened }">{{
    card.opened ? "Aberto" : "Fechado"
  }}</span>
  <h3>{{ card.title }}</h3>
  <p>{{ card.content }}</p>
  <hr />
  <div class="legends">
    <img src="../../../assets/images/png/partial-fountain.png" alt="" />
    <img src="../../../assets/images/png/forbidden-fountain.png" alt="" />
    <img src="../../../assets/images/png/partial-lockerroom.png" alt="" />
    <img src="../../../assets/images/png/required-mask.png" alt="" />
  </div>
  <ul>
    <li *ngFor="let schedule of card.schedules">
      <b>{{ schedule.weekdays }}</b>
      {{ schedule.hour }}
    </li>
  </ul>
</div>
