:root {
  --dark-grey: #333333;
  --light-grey-border: #f1ecec;
  --light-grey: #808080;
  --medium-text: #b7b7b7;
  --yellow: #ffb612;
  --red: #dc0a17;
  --green: #2fc022;
}
* {
  font-family: "Gotham";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/gotham-light.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/gotham-book.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/gotham-bold.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/gotham-black.woff2") format("truetype");
  font-weight: 900;
  font-style: normal;
}
